.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
  margin: 0 auto 0 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__links {
    gap: 18.5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 428px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}