.place__paragraph {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*.place__paragraph:first-child {
  margin-bottom: 26px;
}*/

@media screen and (min-width: 320px) and (max-width: 428px) {
  .place__paragraph {
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}