.cover {
  max-width: 1184px;
  /*height: 740px;*/
  aspect-ratio: 100 / 62.5; /*соотношение сторон изображения*/
  padding-top: 93px;
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    padding-top: 91px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 63px;
  }
}

@media screen and (min-width: 320px) and (max-width: 428px) {
  .cover {
    padding-top: 40px;
  }
}