.place__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFFFFF;
  width: fit-content;
  transition: opacity .4s ease;
}

.place__link:hover {
  opacity: .7;
}